
body {
    background:url('https://cdn.jsdelivr.net/gh/zlw380/ky_website_static@0.1/images/klee1.jpg');
    background-color:#cccccc;
    background-size: 100%;
}

.margin-left-right-normal {
    margin-left: 1em;
    margin-right: 1em;
}

.nav_bar_button {
    color: white;
    transition-duration: .2s;
    text-decoration: none;
}

.nav_bar_button:hover {
    color: forestgreen;
    transition-duration: .2s;
}

.download_button {
    color: black;
    transition-duration: .2s;
}

.download_button:hover {
    color: forestgreen;
    transition-duration: .2s;
}


