.main_body {
    background: url('../images/background.png') no-repeat center fixed;
    background-size: cover;
}

.main_body_with_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    padding: 10px;
    background: inherit;
    overflow: hidden;
    transition-duration: 2s;
}

.main_box{
    background-color: rgba(0, 0, 0, 0);
    top: 1000px;
}

.nav-bar {
    height: 20px;
}

.nav_bar_button {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    transition-duration: .2s;
}

.nav_bar_button:hover {
    color: forestgreen;
    text-align: center;
    font-size: 20px;
    transition-duration: .2s;
}

.nav_btn_group {
    position: relative;
    left: -23%;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.no_border {
    border: none;
}

.no_background_color {
    background-color: rgba(0 ,0, 0, 0);
}

.gallery_cell {
    letter-spacing: 6px;
    position: relative;
    top: 5px;
    line-height: 35px;
    color: black;
}

.showcase_pic {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

.bottom_bar {
    height: 30px;
    background-color: #2c3034;
    color: whitesmoke;
    transition-duration: .5s;
    font-size: 10px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}